<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}Dart{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>Footer Content</p>
    </footer>
</body>
</html>
